<link rel="stylesheet" href="style.css">

<h2 style= "font-family: Impact; color: MidnightBlue"> LEADERBOARD </h2>

<div class="gothic">

<table dir="ltr" width="500" border="1"
  <colgroup width="50%" />
  <colgroup id="colgroup" class="colgroup" align="center"
      valign="middle" title="title" width="1*"
      span="2" />
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Team</th>
      <th scope="col">Games Won</th>
      <th scope="col">Games Lost</th>
      <th scope="col">Games Played</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><em>1.</em></td>
      <td> <img src="http://www.officialpsds.com/images/thumbs/New-England-Patriots-logo-psd56754.png" width="40px" height="35px"/><a href="/teams/Patriots"> Patriots</a></td>
      <td align="center"><%=@pat_wins%></td>
      <td align="center"><%=@pat_losses%></td>
      <td align="center"><%=@pat_games%></td>
    </tr>
    <tr>
      <td><em>2.</em></td>
      <td> <img src="http://media.thedenverchannel.com/photo/2012/09/28/MHL_Broncos-Logo_1348849403124_161792_ver1.0_320_240.jpg"
      width="40px" height="35px"/><a href="/teams/Broncos">Broncos</a></td>
      <td align="center"><%=@bro_wins%></td>
      <td align="center"><%=@bro_losses%></td>
      <td align="center"><%=@bro_games%></td>
    </tr>
      <td><em>3.</em></td>
      <td><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRVQViBmbVGAqK9ZZMVsnN2sYQGDhpMLtjApZ6quhC_K-poJ0QZL4uwpfUr"
      width="40px" height="35px"/><a href="/teams/Steelers">Steelers</a></td>
      <td align="center"><%=@ste_wins%></td>
      <td align="center"><%=@ste_losses%></td>
      <td align="center"><%=@ste_games%></td>
    <tr>
      <td><em>4.</em></td>
      <td><img src="http://houndsports.com/wp-content/uploads/2014/05/indianapolis-colts-logo.jpg" width="40px" height="35px"/><a href="/teams/Colts">Colts</a></td>
      <td align="center"><%=@col_wins%></td>
      <td align="center"><%=@col_losses%></td>
      <td align="center"><%=@col_games%></td>
    </tr>
  </tbody>
</table>

</div>






